{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
    <style>
body {
    background: rgb(56, 54, 54);
    color: white;
    font-family: helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: black;
    padding: .5px;
}
section{
    background: white;
    color: grey;
    padding:200px;
    display: flex;
    flex-direction: row;
}

footer{
    background: black;
    padding:10px 20px;
}
a {
    text-decoration: none;
    color: white;
    float: right;
}
a:hover{
    text-decoration: underline;
}
    </style>
       <!--
        <title>My page!</title>
        <link rel="stylesheet" href="style.css">
        -->
    </head>
    <body>
    <header>
        <h3>Home</h3>
    </header>
    <section>middle section</section>
    <footer>footer</footer>
   </body>
</html>
{% endblock %}