{% extends 'base.html' %}

{% block content %}
body {
    background: rgb(56, 54, 54);
    color: white;
    font-family: helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: black;
    padding: 20px;
}
footer{
    background: black;
    padding:10px 20px;
}
{% endblock %}